# General Requirements
async_class
httpx
playwright
undetected-playwright-patch
pybrowsers
git+https://github.com/llmarchitect/chrome-fingerprints-linux.git#egg=chrome-fingerprints

# Math and Others
numpy
# scipy==1.11.4
# Image Processing
# Pillow==10.2.0


# Artificial Intelligence
hcaptcha_challenger
recognizer
# yolov5==7.0.13
# sentence_transformers #==2.2.2
# easyocr==1.7.1
# opencv-python~=4.9.0.80
setuptools
loguru